$primary: #d95478;
$secondary : #02735E;
$bg-primary : #ffecf1;
$border-primary :#d95478;
$bg: white;
$text-color-with-primary:white;
$heading-color: $primary;
$nav-bg : $bg-primary;
$default-sapce-paddig: 30px 0 !important;
$default-sapce-margin: 30px 0 !important;
$header-fontfamily:"Twinkle Star", cursive;
$text-color:black;
$text-color-light:rgb(82, 82, 82);
$border-radius:30px;

