
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
@import "bootstrap-icons/font/bootstrap-icons";

@import '_variables';
@import '_mixins';
@import 'fileuploader';


:root {
  --bs-link-color-rgb: #{red($primary)}, #{green($primary)}, #{blue($primary)};
  --bs-link-hover-color-rgb:#{red($secondary)}, #{green($secondary)}, #{blue($secondary)};
  --bs-body-color:$text-color;
  --bs-btn-color:$text-color-with-primary;
  --bs-btn-bg:$primary;
  --bs-btn-border-color:$primary;
  --bs-btn-hover-color:$secondary;
  --bs-btn-hover-border-color:$secondary;
}
body {
  font-family: 'Figtree', sans-serif;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
  color:$heading-color;
}
h2, .h2, h1, .h1{
  font-family: $header-fontfamily;
  font-weight: 400;
  font-style: normal;
}
a{
  text-decoration: none;
}
.form-control:focus{
  border-color: $border-primary;
  box-shadow: 0 0 0 0.25rem rgba(
      red($border-primary),
      green($border-primary),
      blue($border-primary),
      0.2
    );

}
@for $i from 1 through 15 {
  .max-w-#{$i} {
    max-width: #{$i}rem;
  }
}
.btn{
  border-radius: $border-radius;
}






.border-curve {
  position: relative;
  background-color:$nav-bg !important; // például kék háttér
  padding-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 40px;
    background: url("data:image/svg+xml;utf8, \
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 35'> \
        <path fill='%23ffffff' d=' \
          M0 17.5  \
          C90 0, 180 35, 270 17.5  \
          S450 0, 540 17.5  \
          S720 35, 810 17.5  \
          S990 0, 1080 17.5  \
          S1260 35, 1350 17.5  \
          S1530 0, 1620 17.5  \
          L1620 35 L0 35 Z'/> \
      </svg>") no-repeat bottom center;
    background-size: cover;
  }
}
.border-rainbow {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px; // vastagság
    width: 100%;
    background:  linear-gradient(to right, #E15649, #EDB825, #509A36, #33789A, #5C3081); 
  }
}
.navbar-brand{
  img{
    max-width: 7rem;
  }
}
.page-header{
  text-align: center;
  background-color: $bg;
  margin: $default-sapce-margin;
  .breadcrumb{
    justify-content: center;
  }
}
.basic-input{
  position: relative;
  margin-bottom: 1rem;
  label{
    position: absolute;
    left: 15px;
    top: -10px;
    padding: 0 1px;
    background-color: $bg;
    color:$primary;
  }
  textarea,input, select{
      border-radius: $border-radius;
      padding: 10px 20px;
      border-color:$border-primary;
  }
}
.row-list {
  .basic-input{
    margin-bottom: 0;
  }
}
.drag-handle , .drag-handle-row{
    cursor: grab;
    user-select: none;
    padding: 0px 8px;
    background: $primary;
    color: $text-color-with-primary;
    padding: 5px 8px;
    border-radius: $border-radius;
}
.arrow-btn-container{
  .btn{
    padding: 0 5px ;
    border:none;
  }
  .btn:disabled, .btn.disabled, fieldset:disabled .btn{
    color:#cfcfcf;
  }
}
.funtions-btn-container{
  .btn{
    padding: 4px 7px;
    border-radius: $border-radius;
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin-left: 3px;

  }
  label.btn{
      margin-left: 0;
    }
}
.modal-backdrop{
  z-index: 999;
}