.filepond--item {
    width: calc(25% - 0.5em);
}

.preview-main-button-wrapper {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.preview-main-button-wrapper button {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: rgba(255,255,255,0.7);
  border: 1px solid #333;
  cursor: pointer;
}

.preview-main-button-wrapper button.main-selected {
  background: green;
  color: white;
}

.preview-image {
  width: 100px;
  height: auto;
  display: block;
}